/* b1: thiết lập thông số chung */
*{
    font-family: "Noto Sans TC";
    font-size: 20px;
    color: rgb(67, 67, 67);
}
.ex6 h3 {
    font-size: 35px;
}
.ex6 .syntax{
    background-color:#f3f3f3;
    color: #d45a7d;
}
.ex6 .demo-figure{
    border: 3px solid green;
    text-align: center;
    line-height: 4;
}
.ex6 .democode{
    background-color: #e5e9ed;
    padding: 20px;
    margin-top: 20px;
}
.democode .h4{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.democode .code-content{
    background-color: white;
    border-left: 3px solid green;
    padding: 15px;
}
.code-content p:nth-child(1){
    margin-top: 0px;
}
.code-content p:nth-child(2){
    margin-left: 40px;
}
.code-content p:nth-child(3){
    margin-left: 40px;
}
.code-content p:nth-child(4){
    margin-bottom: 0px;
}
button{
    background-color: green;
    color: white;
    padding: 10px 30px;
    margin-top: 20px;
    cursor: pointer;
    display: inline-block;
    border-radius: 20px;
}
